body{
    font-family: Arial;
    background: linear-gradient(to right,#f5f7fa,#c3cfe2);
    text-align:center;
}

.header{
    background:#222;
    color:white;
    padding:20px;
    margin-bottom:30px;
}

.header h1{
    margin:0;
    font-size:36px;
}

.header p{
    margin:5px;
    color:#ddd;
}

.slider{
    position:relative;
    width:500px;
    margin:auto;
}

.slider img{
    width:100%;
    height:300px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:black;
    color:white;
    border:none;
    padding:10px;
    font-size:22px;
    cursor:pointer;
}

.prev{ left:10px; }
.next{ right:10px; }

.dots{
    margin-top:15px;
}

.dot{
    height:12px;
    width:12px;
    background:gray;
    display:inline-block;
    margin:5px;
    border-radius:50%;
    cursor:pointer;
}

.active{
    background:black;
}
